html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.btn-wrapper {
    text-align: center;
    width: 100%;
}
.btn {
    display: none;
}
#j-blockquote {
    display: none;
}
#i-jark {
    height: 200px;
}